<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Jupiter's Moons</title>
    <style>
         .mainbody{
            background: linear-gradient(  rgba(1, 6, 29, 0.947) 15%, rgb(5, 32, 119) 100%);
   height: 245vh;
   width:100%;
   background-size: cover;
  

}
h1{
    color: white;
    text-align: center;
}
    </style>
</head>
<body>
    <div class="mainbody">
        <h1 style="color: white;">List of Various Moons</h1>
    <h2 style="color: goldenrod; text-align: center;"> Jupiter's Moons</h2>
    <div class="very d-flex flex-row justify-content-center">
    <table border="1" width="75%">
        <thead>
            <tr style="color: aquamarine;">
                <th>Name</th>
                <th>Year Discovered</th>
                <th>Discoverer</th>
                <th>Distance from Jupiter (km)</th>
                <th>Size (km)</th>
                <th>Orbital Period (days)</th>
            </tr>
        </thead>
        <tbody style="color: aliceblue;">
            <tr>
                <td>Adrastea</td>
                <td>1979</td>
                <td>Jewitt & Danielson</td>
                <td>128,980</td>
                <td>26 X 16</td>
                <td>0.298</td>
            </tr>
            <tr>
                <td>Aitne</td>
                <td>2001</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>23,547,000</td>
                <td>3</td>
                <td>736</td>
            </tr>
            <tr>
                <td>Amalthea</td>
                <td>1892</td>
                <td>E. Barnard</td>
                <td>181,300</td>
                <td>262 X 134</td>
                <td>0.498</td>
            </tr>
            <tr>
                <td>Ananke</td>
                <td>1951</td>
                <td>S. Nicholson</td>
                <td>21,200,000</td>
                <td>20</td>
                <td>631</td>
            </tr>
            <tr>
                <td>Aoede</td>
                <td>2003</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>23,807,655</td>
                <td>4</td>
                <td>748.8</td>
            </tr>
            <tr>
                <td>Arche</td>
                <td>2002</td>
                <td>S. Sheppard</td>
                <td>23,064,000</td>
                <td>3</td>
                <td>715.6</td>
            </tr>
            <tr>
                <td>Autonoe</td>
                <td>2001</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>24,122,000</td>
                <td>4</td>
                <td>753</td>
            </tr>
            <tr>
                <td id="europaCell" class="moonLink" style="color:rgb(239, 121, 18);">Callisto</td>
                <td>1610</td>
                <td>Galileo</td>
                <td>1,883,000</td>
                <td>4,800</td>
                <td>16.689</td>
            </tr>
            <tr>
                <td>Carme</td>
                <td>1938</td>
                <td>S. Nicholson</td>
                <td>22,600,000</td>
                <td>30</td>
                <td>692</td>
            </tr>
            <tr>
                <td>Callirrhoe</td>
                <td>2000</td>
                <td>Spacewatch Project Minor Planet Center</td>
                <td>24,200,000</td>
                <td>10</td>
                <td>774</td>
            </tr>
            <tr>
                <td>Carpo</td>
                <td>2003</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>17,100,000</td>
                <td>3</td>
                <td>456.5</td>
            </tr>
            <tr>
                <td>Chaldene</td>
                <td>2000</td>
                <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                <td>23,179,000</td>
                <td>3.8</td>
                <td>741</td>
            </tr>
            <tr>
                <td>Cyllene</td>
                <td>2003</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>24,000,000</td>
                <td>2</td>
                <td>737.8</td>
            </tr>
            <tr>
                <td>Elara</td>
                <td>1905</td>
                <td>C. Perrine</td>
                <td>11,737,000</td>
                <td>80</td>
                <td>259.65</td>
            </tr>
            <tr>
                <td>Erinome</td>
                <td>2000</td>
                <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                <td>23,279,000</td>
                <td>3.2</td>
                <td>672</td>
            </tr>
            <tr>
                <td>Euanthe</td>
                <td>2001</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>21,017,000</td>
                <td>3</td>
                <td>622</td>
            </tr>
            <tr>
                <td>Eukelade</td>
                <td>2003</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>24,557,295</td>
                <td>4</td>
                <td>746.4</td>
            </tr>
            <tr>
                <td>Euporie</td>
                <td>2001</td>
                <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                <td>19,394,000</td>
                <td>2</td>
                <td>534</td>
            </tr>
            <tr>
                <td id="europaCell" class="moonLink" style="color:rgb(239, 121, 18);">Europa</td>
                <td>1610</td>
                <td>Galileo</td>
                <td>670,900</td>
                <td>312

                </tr>
                <tr>
                    <td>Eurydome</td>
                    <td>2001</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,219,000</td>
                    <td>3</td>
                    <td>713</td>
                </tr>
                <tr>
                    <td id="europaCell" class="moonLink" style="color:rgb(239, 121, 18);">Ganymede</td>
                    <td>1610</td>
                    <td>Galileo</td>
                    <td>1,070,000</td>
                    <td>5276</td>
                    <td>7.155</td>
                </tr>
                <tr>
                    <td>Harpalyke</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>21,105,000</td>
                    <td>4.3</td>
                    <td>595</td>
                </tr>
                <tr>
                    <td>Hegemone</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>24,514,095</td>
                    <td>3</td>
                    <td>781.6</td>
                </tr>
                <tr>
                    <td>Helike</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>10,972,830</td>
                    <td>4</td>
                    <td>233.8</td>
                </tr>
                <tr>
                    <td>Hermippe</td>
                    <td>2001</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>21,252,000</td>
                    <td>4</td>
                    <td>630</td>
                </tr>
                <tr>
                    <td>Himalia</td>
                    <td>1904</td>
                    <td>C. Perrine</td>
                    <td>11,480,000</td>
                    <td>170</td>
                    <td>250.57</td>
                </tr>
                <tr>
                    <td id="europaCell" class="moonLink" style="color:rgb(255, 140, 0);">Io</td>
                    <td>1610</td>
                    <td>Galileo</td>
                    <td>421,600</td>
                    <td>3,629</td>
                    <td>1.769</td>
                </tr>
                <tr>
                    <td>Iocaste</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>21,269,000</td>
                    <td>5.2</td>
                    <td>657</td>
                </tr>
                <tr>
                    <td>Isonone</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>23,217,000</td>
                    <td>3.8</td>
                    <td>712</td>
                </tr>
                <tr>
                    <td>Kale</td>
                    <td>2001</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,124,000</td>
                    <td>2</td>
                    <td>609</td>
                </tr>
                <tr>
                    <td>Kallichore</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>22,395,390</td>
                    <td>2</td>
                    <td>683.0</td>
                </tr>
                <tr>
                    <td>Kalyke</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>23,583,000</td>
                    <td>5.2</td>
                    <td>760</td>
                </tr>
                <tr>
                    <td>Kore</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>24,543,000</td>
                    <td>2</td>
                    <td>779.2</td>
                </tr>
                <tr>
                    <td>Leda</td>
                    <td>1974</td>
                    <td>C. Kowal</td>
                    <td>11,094,000</td>
                    <td>10</td>
                    <td>238.72</td>
                </tr>
                <tr>
                    <td>Lysithea</td>
                    <td>1938</td>
                    <td>S. Nicholson</td>
                    <td>11,720,000</td>
                    <td>24</td>
                    <td>259.22</td>
                </tr>
                <tr>
                    <td>Magaclite</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>23,806,000</td>
                    <td>5.4</td>
                    <td>771</td>
                </tr>
                <tr>
                    <td>Metis</td>
                    <td>1979</td>
                    <td>S. Sunnott</td>
                    <td>127,960</td>
                    <td>40</td>
                    <td>0.295</td>
                </tr>
                <tr>
                    <td>Mneme</td>
                    <td>2003</td>
                    <td>Scott S. Sheppard & B. Gladman</td>
                    <td>21,069,000</td>
                    <td>2</td>
                    <td>620.04</td>
                </tr>
                <tr>
                    <td>Orthosie</td>
                    <td>2001</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>21,168,000</td>
                    <td>2</td>
                    <td>617</td>
                </tr>
                <tr>
                    <td>Pasiphae</td>
                    <td>1908</td>
                    <td>P. Melotte</td>
                    <td>23,500,000</td>
                    <td>36</td>
                    <td>735</td>
                </tr>
                <tr>
                    <td>Pasithee</td>
                    <td>2001</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,029,000</td>
                    <td>2</td>
                    <td>715</td>
                </tr>
                <tr>
                    <td>Praxidike</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>21,147,000</td>
                    <td>6.8</td>
                    <td>632</td>
                </tr>
                <tr>
                    <td>Sinope</td>
                    <td>1914</td>
                    <td>S. Nicholson</td>
                    <td>23,700,700</td>
                    <td>28</td>
                    <td>758</td>
                </tr>
                <tr>
                    <td>Sponde</td>
                    <td>2001</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,808,000</td>
                    <td>2</td>
                    <td>732</td>
                </tr>
                <tr>
                    <td>S/2000 J11</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>12,555,000</td>
                    <td>4.0</td>
                    <td>284.3</td>
                </tr>
                <tr>
                    <td>S/2003 J2</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>28,570,410</td>
                    <td>2</td>
                    <td>982.5</td>
                </tr>
                <tr>
                    <td>S/2003 J3</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>18,339,885</td>
                    <td>2</td>
                    <td>504.0</td>
                </tr>
                <tr>
                    <td>S/2003 J4</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,257,920</td>
                    <td>2</td>
                    <td>723.2</td>
                </tr>
                <tr>
                    <td>S/2003 J5</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>24,084,180</td>
                    <td>4</td>
                    <td>759.7</td>
                </tr>
                <tr>
                    <td>S/2003 J9</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>22,441,680</td>
                    <td>1</td>
                    <td>683.0</td>
                </tr>
                <tr>
                    <td>S/2003 J10</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>24,249,600</td>
                    <td>2</td>
                    <td>767.0</td>
                </tr>
                <tr>
                    <td>S/2003 J12</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>19,002,480</td>
                    <td>1</td>
                    <td>533.3</td>
                </tr>
                <tr>
                    <td>S/2003 J15</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>22,000,000</td>
                    <td>2</td>
                    <td>668.4</td>
                </tr>
                <tr>
                    <td>S/2003 J16</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>21,000,000</td>
                    <td>2</td>
                    <td>595.4</td>
                </tr>
                <tr>
                    <td>S/2003 J18</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>20,700,000</td>
                    <td>2</td>
                    <td>606.3</td>
                </tr>
                <tr>
                    <td>S/2003 J19</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>22,800,000</td>
                    <td>2</td>
                    <td>701.3</td>
                </tr>
                <tr>
                    <td>S/2003 J 23</td>
                    <td>2003</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,563,000</td>
                    <td>2</td>
                    <td>732.44</td>
                </tr>
                <tr>
                    <td>S/2010 J 1</td>
                    <td>2010</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,314,335</td>
                    <td>2</td>
                    <td>582.22</td>
                </tr>
                <tr>
                    <td>S/2010 J 2</td>
                    <td>2010</td>
                    <td>Veillet</td>
                    <td>20,307,150</td>
                    <td>1</td>
                    <td>725.06</td>
                </tr>
                <tr>
                    <td>S/2011 J 2</td>
                    <td>2011</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>23,329,710</td>
                    <td>1</td>
                    <td>588.82</td>
                </tr>
                <tr>
                    <td>S/2011 J 1</td>
                    <td>2011</td>
                    <td>Jacobson et al.</td>
                    <td>20,155,290</td>
                    <td>1</td>
                    <td>724.34</td>
                </tr>
                <tr>
                    <td>Taygete</td>
                    <td>2000</td>
                    <td>S. Sheppard, D. Jewitt, Y. Fernandez, & G. Magnier</td>
                    <td>23,360,000</td>
                    <td>5.0</td>
                    <td>687</td>
                </tr>
                <tr>
                    <td>Thebe</td>
                    <td>1979</td>
                    <td>S. Synnott</td>
                    <td>221,900</td>
                    <td>100</td>
                    <td>0.675</td>
                </tr>
                <tr>
                    <td>Thelxinoe</td>
                    <td>2003</td>
                    <td>Scott S. Sheppard & B. Gladman</td>
                    <td>21,162,000</td>
                    <td>2</td>
                    <td>628.09</td>
                </tr>
                <tr>
                    <td>Themisto</td>
                    <td>1975</td>
                    <td>C. Kowal & E. Roemer</td>
                    <td>7,507,000</td>
                    <td>8</td>
                    <td>130.07</td>
                </tr>
                <tr>
                    <td>Thyone</td>
                    <td>2001</td>
                    <td>S. Sheppard, D. Jewitt, & J. Kleyna</td>
                    <td>21,312,000</td>
                    <td>4</td>
                    <td>615</td>
                </tr>
                
                
        </tbody>
        </table>
    
    </div>
    <div style="display: flex; justify-content: center;">
        <form action="/jupiter" method="GET">
            <button style="font-weight: 600;margin-top:40px; margin-right:1090px; cursor: pointer; color: rgb(194, 197, 200); background-color: #07032d; height: 30px; border-radius: 4px; width: 80px;" type="submit">Back</button>
        </form>
        <form action="/planet" method="GET">
            <button style="font-weight: 600;margin-top:40px; cursor: pointer; color: rgb(238, 236, 245); background-color: #c76809; height: 30px; border-radius: 4px;" type="submit">Home Page</button>
        </form>
        
    </div>
    
</div>
<script>
            const moonCells = document.querySelectorAll('.moonLink');
moonCells.forEach((moonCell) => {
    moonCell.addEventListener('click', () => {
        const moonName = moonCell.innerText;
        const moonURL = `https://solarsystem.nasa.gov/moons/jupiter-moons/${moonName.toLowerCase()}/overview/`;
        window.open(moonURL, '_blank');
    });
});

</script>

    </body>
    </html>