<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Moons of Various Planets</title>
    <style>
         .body{
            

background: linear-gradient(  rgba(3, 9, 38, 0.947) 45%, rgb(10, 147, 226) 100%);;
   height: 100vh;
   width:100%;
   background-size: cover;
   

}
.nep{
    text-align: center;
    color: aliceblue;
}
.very{
    color: aliceblue;
}
h1{
    padding-top: 80px;
}

    </style>
</head>
<body>
    <div class="body">
        <div class="nep">
    <h1>Moons of Various Planets</h1>
    <h2 style="color: rgb(235, 152, 28);">Neptune Moons</h2>
    </div>
    <div class="very d-flex flex-row justify-content-center">
    <table border="2" width="75%">
        <thead>
            <tr style="color: aquamarine;">
                <th>Name</th>
                <th>Year Discovered</th>
                <th>Discoverer</th>
                <th>Distance from Neptune (km)</th>
                <th>Size (km)</th>
                <th>Orbital Period (days)</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td id="europaCell" class="moonLink" style="color:rgb(255, 140, 0);">Despina</td>
                <td style="text-align: center;">1989</td>
                <td>Voyager 2</td>
                <td style="text-align: center;">62,000</td>
                <td style="text-align: center;" >160</td>
               
                <td style="text-align: center;">0.40</td>
            </tr>
            <tr>
                <td>Galatea</td>
                <td style="text-align: center;">1989</td>
                <td>Voyager 2</td>
                <td style="text-align: center;">52,500</td>
                <td style="text-align: center;">140</td>
                <td style="text-align: center;">0.33</td>
            </tr>
            <tr>
                <td>Halimede</td>
                <td style="text-align: center;">2002</td>
                <td >M. Holman & J.J. Kavelaars</td>
                <td style="text-align: center;">15,686,000</td>
                <td style="text-align: center;">60</td>
                <td style="text-align: center;">1,874.83</td>
            </tr>
            <tr>
                <td>Larissa</td>
                <td style="text-align: center;">1989</td>
                <td>Voyager 2</td>
                <td style="text-align: center;">73,600</td>
                <td style="text-align: center;">200</td>
                <td style="text-align: center;">0.56</td>
            </tr>
            <tr>
                <td>Laomedeia</td>
                <td style="text-align: center;">2002</td>
                <td>M. Holman & J.J. Kavelaars</td>
                <td style="text-align: center;">22,613,200</td>
                <td style="text-align: center;">38</td>
                <td style="text-align: center;">2,980.4</td>
            </tr>
            <tr>
                <td>Naiad</td>
                <td style="text-align: center;">1989</td>
                <td>Voyager 2</td>
                <td style="text-align: center;">48,200</td>
                <td style="text-align: center;">50</td>
                <td style="text-align: center;">0.30</td>
            </tr>
            <tr>
                <td id="europaCell" class="moonLink" style="color:rgb(255, 140, 0);">Nereid</td>
                <td style="text-align: center;">1949</td>
                <td>G. Kuiper</td>
                <td style="text-align: center;">5,513,400</td>
                <td style="text-align: center;">340</td>
                <td style="text-align: center;">360.16</td>
            </tr>
            <tr>
                <td>Neso</td>
                <td style="text-align: center;">2002</td>
                <td>Holman & Gladman et al</td>
                <td style="text-align: center;">47,279,670</td>
                <td style="text-align: center;">60</td>
                <td style="text-align: center;">9,007.1</td>
            </tr>
            <tr>
                <td id="europaCell" class="moonLink" style="color:rgb(255, 140, 0);">Proteus</td>
                <td style="text-align: center;">1989</td>
                <td>Voyager 2</td>
                <td style="text-align: center;">117,600</td>
                <td style="text-align: center;">420</td>
                <td style="text-align: center;">1.12</td>
            </tr>
            <tr>
                <td>Psamathe</td>
                <td style="text-align: center;">2003</td>
                <td>D. Jewitt, J. Kleyna & S. Sheppard</td>
                <td style="text-align: center;">46,738,000</td>
                <td style="text-align: center;">38</td>
                <td style="text-align: center;">9,136.11</td>
            </tr>
            <tr>
                <td>Sao</td>
                <td style="text-align: center;">2002</td>
                <td>M. Holman & J.J. Kavelaars</td>
                <td style="text-align: center;">22,337,190</td>
                <td style="text-align: center;">38</td>
                <td style="text-align: center;">2,925.6</td>
            </tr>
            <tr>
                <td>Thalassa</td>
                <td style="text-align: center;">1989</td>
                <td>Voyager 2</td>
                <td style="text-align: center;">50,000</td>
                
                <td style="text-align: center;">90</td>
                <td style="text-align: center;">0.31</td>
            </tr>
            <tr>
                <td id="europaCell" class="moonLink" style="color:rgb(255, 140, 0);">Triton</td>
                <td style="text-align: center;">1846</td>
                <td>W. Lassel</td>
                <td style="text-align: center;"> 354,800</td>
                <td style="text-align: center;">2705</td>
                <td style="text-align: center;">5.877</td>
            </tr>
            <tr>
                <td>S/2004 N 1</td>
                <td style="text-align: center;">2013</td>
                <td>Showalter, M. R. et al.</td>
                <td style="text-align: center;">105,300</td>
                <td style="text-align: center;">16–20</td>
                <td style="text-align: center;">0.936</td>
            </tr>

        </tbody>
    </table>
    </div>
    <div style="display: flex; justify-content: center;">
        <form action="/neptune" method="GET">
            <button style="font-weight: 600;margin-top:40px; margin-right:1090px; cursor: pointer; color: rgb(194, 197, 200); background-color: #07032d; height: 30px; border-radius: 4px; width: 80px;" type="submit">Back</button>
        </form>
        <form action="/planet" method="GET">
            <button style="font-weight: 600;margin-top:40px; cursor: pointer; color: rgb(238, 236, 245); background-color: #c76809; height: 30px; border-radius: 4px;" type="submit">Home Page</button>
        </form>
        
    </div>
    </div>
    <script>
        const moonCells = document.querySelectorAll('.moonLink');
moonCells.forEach((moonCell) => {
moonCell.addEventListener('click', () => {
    const moonName = moonCell.innerText;
    const moonURL = `https://solarsystem.nasa.gov/moons/neptune-moons/${moonName.toLowerCase()}/in-depth/`;
    window.open(moonURL, '_blank');
});
});

</script>
</body>
</html>
